*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section{
    background-color: #f3f2f6;
    height: 200px;
    position: relative;
    top: 100px;
}

table{
    text-align: center;
    position: relative;
    border-spacing: 15px;
    bottom: 5px;
}

th{
    height: 180px;
}

td{
    padding: 10px 30px 10px;
    border: 2px solid #c1bcd1;
    box-sizing: border-box;
    width: 1000px;
    border-radius: 10px;
    background-color: white ;
}

h1{
    color: #bc2229;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 30px;
}

p{
    font-size: 26px;
    color: #251853;
}