* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #2d2d2d;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project-container{
    width: 400px;
    border: 1px solid #ebedf2;
    border-radius: 10px;
    padding: 30px;
}

.project-container h3{
    font-size: 20px;
    margin-bottom: 20px;

}

.project-container button{
    background-color: #ffeeca;
    border: 1px solid #ffcc85;
    color: #bd3803;
    font-size: 16px;
    margin-bottom: 25px;
    padding: 3px 15px;
    border-radius: 5px;
}

.project-title {
    position: relative;
}

.progress-title .progress-value{
    position: absolute;
    right: 400px;
}

.progress-bar{
    background-color: #ffcc85;
    height: 3px;
    border-radius: 5px;
}

.progress-bar div{
    width: 76%;
    background-color: #bd3803;
    height: 100%;
    border-radius: 5px;
} 