section{
    background-color: rgb(235, 235, 235);
    padding: 5px;
}

table{
    width: 100%;
    border: 1px solid rgb(195, 195, 195);
    border-collapse: collapse;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 20px black;
}

th{
    padding: 10px;
    color: white;
    background-color: blue;
    border: 1px solid rgb(195, 195, 195);
}

td{
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(195, 195, 195);
}

.button1{
    color: white;
    background-color: green;
    border: green;
    padding: 3px;
}

.button2{
    color: purple;
    background-color: yellow;
    border: yellow;
    padding: 3px;
}

.button3{
    color: white;
    background-color: red;
    border: red;
    padding: 3px;
}

tr:nth-child(odd){
    background-color: white;
}