*{
    font-family: 'Times New Roman', Times, serif;
}

header hr {
    border: none;
    border-top: 2px dashed #8c8c8c; /* Đổi màu và độ dày nếu cần */
    margin: 20px 0;
}

tr:nth-child(1) td:nth-child(3){
    display: flex;
    gap: 8px;
}

tr:nth-child(2) td:nth-child(3){
    display: flex;
    gap: 8px;
}

tr:nth-child(3) td:nth-child(3){
    display: flex;
    gap: 8px;
    align-items: center;
}

table hr{
    color: #cccccc;
    width: 2px;
    height: 150px;
    background: #cccccc;
    border: none;
}

a{
    text-decoration: none;
    color: #231651;
    font-size: large;
    font-weight: 800;
}

a:hover{
    color: #ff0000;
    text-decoration: underline;
}