*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box-1{
    width: 250px;
}

div{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

div h1{
    padding-top: 10px;
    padding-left: 5px;
}

.image-icon{
    height: 50px;
    width: 50px;
}

.image-human{
    padding-top: 10px;
    padding-left: 10px;
}

.box-text1{
    padding-top: 10px;
    padding-left: 10px;
}

.box-text2{
    padding-top: 10px;
    padding-left: 10px;
    color: #42465f;
    font-weight: 600;
}

.box-text3{
    padding-top: 10px;
    padding-left: 10px;
    color: #5b5b5b;
}